app/bower_components/
node_modules/
app/backend/node_modules/
app/gexp
app/gexp.exe
app/_notes/
expanse-rewards-dapp-linux-ia32/
expanse-rewards-dapp-linux-x64/
expanse-rewards-dapp-win32-ia32/
expanse-rewards-dapp-win32-x64/
expanse-rewards-dapp-darwin-x64/