<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" ng-app="bondApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" ng-app="bondApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="bondApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="bondApp" class="no-js" ng-controller="bondAppCtrl as bc">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="expanse bond dapp">
<meta name="keywords" content="expanse dapp bonds bond ebs smart contracts">
<meta name="author" content="expanse.tech">
<title>Expanse Bond dApp</title>
<!-- Template public CSS -->
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
<link href="public/css/toolkit-inverse.css" rel="stylesheet">
<link href="public/css/application.css" rel="stylesheet">
<link href="public/css/animations.css" rel="stylesheet">
<link href="bower_components/angular-growl-v2/build/angular-growl.css" rel="stylesheet">
</head>

<body>
<!-- Growls / Modals -->
<div growl></div>
<modal></modal>
<!-- Main App Container -->
<div class="container">
  <div class="row" ng-if="bc.$storage.agreementConfirm==true && bc.ebsVars.isConnected==true">
    <sidebar></sidebar>
    <div class="col-sm-9 content">
      <ng-view><dashboard></dashboard></ng-view>
      <footer></footer>
    </div>
  </div>
  <div class="row" ng-if="bc.$storage.agreementConfirm==false">
    <dashhead title="Terms of Use"></dashhead>
    <agreement></agreement>
    <footer></footer>
  </div>
  <div class="row" ng-if="bc.ebsVars.isConnected==false">
    <dashhead title="Connect to Expanse Node"></dashhead>
    <connect></connect>
    <footer></footer>
  </div>
</div>

<!-- Electron JQuery Compatability -->
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<!-- JQuery -->
<script src="public/js/jquery.min.js"></script>
<!-- GUI Libs/Components -->
<script src="public/js/toolkit.js"></script>
<!-- Angular -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/chart.js/dist/Chart.min.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
<!-- localStorage -->
<script src="bower_components/ngstorage/ngStorage.js"></script>
<!-- Expanse web3 -->
<script src="bower_components/web3/dist/web3.min.js"></script>
<!-- The Contract Interface -->
<script src="contract.js"></script>
<!-- The App -->
<script src="app.js"></script>
<!-- The Sevices -->
<script src="services/bond.service.js"></script>
<!-- The Components -->
<script src="core/sidebar/sidebar.component.js"></script>
<script src="core/accounts/accounts.component.js"></script>
<script src="core/account-list/account-list.component.js"></script>
<script src="core/account-history/account-history.component.js"></script>
<script src="core/agreement/agreement.component.js"></script>
<script src="core/bonds/bonds.component.js"></script>
<script src="core/bond-list/bond-list.component.js"></script>
<script src="core/bond-form/bond-form.component.js"></script>
<script src="core/bond-transfer/bond-transfer.component.js"></script>
<script src="core/connect/connect.component.js"></script>
<script src="core/dashboard/dashboard.component.js"></script>
<script src="core/dashhead/dashhead.component.js"></script>
<script src="core/deposit/deposit.component.js"></script>
<script src="core/footer/footer.component.js"></script>
<script src="core/modal/modal.component.js"></script>
<!-- Electron JQuery Compatability --> 
<script>if (window.module) module = window.module;</script>
</body>
</html>