<div align="center" class="hr-divider" style="padding:10px;"></div>
<div class="row">
  <h5 class="text-center m-t">Account History</h5>
</div>
<div class="row m-t-sm">
  <table id="accountHistory{{$ctrl.account.id}}" class="mTable" align="center">
    <tr class="row" href="#">
      <th>Block</th>
      <th>Date/Time</th>
      <th>Type</th>
      <th>Information</th>
    </tr>
     <tr class="row" href="#" ng-click="$ctrl.showDetail(hEvent)" ng-repeat="hEvent in $ctrl.pending[$ctrl.account.address]">
      <td class="text-warning">(pending)</td>
      <td>(pending)</td>
      <td>{{hEvent.type}}</td>
      <td>{{hEvent.info}}</td>
    </tr>
    <tr class="row" dir-paginate="hEvent in $ctrl.history[$ctrl.account.address] | orderBy:'-block' | itemsPerPage: 5 " pagination-id="'var'+$ctrl.account.address">
      <td class="text-primary">{{hEvent.block}}</td>
      <td>{{hEvent.blockTime*1000 | date:"short"}}</td>
      <td>{{hEvent.type}}</td>
      <td>{{hEvent.info}}</td>
    </tr>
  </table>
  <div class="row text-center">
    <dir-pagination-controls pagination-id="'var'+$ctrl.account.address"></dir-pagination-controls>
  </div>
</div>