<dashhead title="Bonds"></dashhead>
<div class="hr-divider">
  <h3 class="hr-divider-content hr-divider-heading">Deposit to EBS</h3>
</div>
<div class="row m-t list-group">
  <form name="form" class="form-horizontal" novalidate>
    <div class="form-group row text-center">
      <div class="col-xs-3 col-xs-offset-1 text-right"><strong>Address:</strong></div>
      <div class="col-sm-4 text-left"> {{$ctrl.account.address}} </div>
    </div>
    <div class="form-group row text-center">
      <div class="col-xs-3 col-xs-offset-1 text-right"><strong>Balance:</strong></div>
      <div class="col-sm-4 text-left"> {{$ctrl.account.balance}} </div>
    </div>
    <div class="form-group row text-center">
      <div class="col-xs-3 col-xs-offset-1 text-right"><strong>EBS Balance:</strong></div>
      <div class="col-sm-4  text-left"> {{$ctrl.account.bondBalance}} </div>
    </div>
    <div class="row form-group text-center" ng-show="$ctrl.account.balance>0">
      <div class="col-xs-3 col-xs-offset-1 pt5 text-right"><strong>Amount:</strong></div>
      <div class="col-xs-3">
        <input type="text" name="depositVal" class="form-control form-control-sm text-right" ng-model="$ctrl.depositVal" >
      </div>
      <div class="col-xs-1 pt5 text-left">
        EXP
      </div>
    </div>
    <div class="form-group row m-t-md text-center">
      <button id="submit" name="submit" class="btn btn-primary" ng-click="$ctrl.deposit()" >Deposit to EBS</button>
    </div>
  </form>
</div>
